p {
    font-family: roboto, arial;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
}
img {
    cursor: pointer;
}
body {
    margin: 0;
    padding-top: 80px;
    padding-left: 80px;
    background-color: rgb(249, 249, 249);
    font-family: roboto, arial;
}
button {
    cursor: pointer;
}